@import "tailwindcss";

:root {
  /* This ensures the font is used everywhere by default */
  font-family: var(--font-din-text), sans-serif;
}

body {
  font-family: var(--font-din-text), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}